@charset "UTF-8";
/*Подключение документа с обнуляющими стилями*/
@import url("../scss/reset.css");
/* подключение шрифтов*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=ZCOOL+KuaiLe&display=swap");
/*Модификаторы повторяющихся стилей*/
/*Стили для заголовков*/
.title {
  font-size: 64px;
  font-weight: 600;
  color: #B5B5B5;
  font-family: "Montserrat", sans-serif;
}

/*Стили для текста*/
.text {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

/*Стили для body*/
body {
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 1;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/**/
/*Обертка сайта*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
  max-width: 1920px;
  margin: 0 auto;
}

/*Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*navigation*/
.menu__item {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 0 20px;
  color: #000;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item:hover {
  text-decoration: underline;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*login__register*/
.login,
.register {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 20px;
  font-weight: bold;
}

.active {
  background-color: #00B2FF;
  padding: 20px;
}

.search {
  margin: 0 60px;
  cursor: pointer;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*burger menu*/
.burger {
  cursor: pointer;
}

span {
  font-size: 20px;
  color: #000;
  display: block;
  max-width: 350px;
  height: 20px;
  margin-left: 20px;
}

/**/
/*Main*/
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*Главный жкран*/
.full__screan {
  background: url("../img/mainbg.png") center no-repeat;
  background-size: cover;
  width: 1920px;
  height: 751px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 150px;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 48%;
  margin-bottom: 40px;
}

/*main card*/
.card {
  background-color: #FFFFFF;
  padding: 25px;
  opacity: 76%;
  max-width: 634px;
  height: 300px;
  margin-right: 60px;
}

.card__title {
  font-weight: 900;
  font-size: 36px;
  color: #000;
  margin-bottom: 15px;
}

.card__text {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

/*news*/
.news {
  margin-bottom: 200px;
}

/*news title*/
.news__title {
  text-align: center;
  margin-bottom: 100px;
}

/*news card*/
.news__top,
.news__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body__img img {
  display: block;
  max-width: 450px;
  height: auto;
}

.news__card {
  max-width: 400px;
}

.news__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.body__text {
  margin: 40px 0;
}

/*voting*/
.voting {
  margin-bottom: 150px;
}

.voting__title {
  text-align: center;
  margin-bottom: 50px;
}

.voting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.voting__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Подсчет процентов*/
.voting__precent {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 64px;
  margin: 40px 0;
}

.stalker {
  color: #F5FFB8;
}

.left__dead {
  color: #FFCACA;
}

.voting__btn {
  padding: 20px;
  max-width: 100px;
  min-width: 100px;
}

.voting__btn span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*game__ul*/
.game__ul {
  margin-bottom: 200px;
}

.game {
  margin-bottom: 250px;
}

.game__title {
  text-align: center;
  margin-bottom: 50px;
}

.game__list {
  margin-left: 150px;
}

.list__item {
  margin: 20px 0;
  list-style: disc;
}

/*article*/
.article {
  margin-bottom: 100px;
}

.article__title {
  text-align: center;
}

/*play*/
.play__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.play__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play__top,
.play__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.play__img img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  width: 750px;
  height: auto;
}

.play__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px;
  padding: 20px;
}

.play__card {
  padding: 20px;
}

.play__title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

/*Footer*/
.footer {
  background-color: #222222;
  padding: 50px;
  position: relative;
  top: 0;
  left: 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__circle {
  cursor: pointer;
  margin: 0 40px;
  padding: 25px;
  background-color: #A42F28;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
}

.footer__moon {
  position: absolute;
  top: 0;
  left: 0;
}

/*Адаптация*/
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 976px;
  }
}

@media screen and (max-width: 976px) {
  .container {
    max-width: 667px;
  }
}

@media screen and (max-width: 667px) {
  .container {
    max-width: 467px;
  }
}

@media screen and (max-width: 467px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
}
