@charset "UTF-8";
/*Подключение документа с обнуляющими стилями*/
@import url("../scss/reset.css");
/* подключение шрифтов*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
/*Глобальные переменые для стилей*/
/*Глобальные отступы*/
/*Цвет для body*/
/*Цвет для текста*/
/*Модификаторы повторяющихся стилей*/
/*Стили для заголовков*/
.title {
  font-size: 72px;
  font-weight: 900;
  color: #E5E5E5;
  line-height: 1.5;
}

/*Стили для текста*/
.text {
  font-weight: 400;
  color: #E5E5E5;
  font-size: 36px;
  line-height: 1.5;
}

/*Стили для body*/
body {
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

/**/
/*Обертка сайта*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
  max-width: 1920px;
  margin: 0 auto;
}

/*Header*/
.header {
  background: url("../img/headerbg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 880px;
  padding: 150px 130px;
  margin-bottom: 150px;
}

.header__title {
  margin-top: 50px;
}

/*Main*/
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*Стили для блока about*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
  padding: 100px;
}

.about__body {
  margin-right: 50px;
}

/*Стили для заголовка*/
.about__title {
  font-size: 72px;
  font-weight: 900;
  color: #000;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

/*Стили для текста*/
.about__text {
  font-weight: 400;
  color: #000;
  font-size: 36px;
  line-height: 1.5;
}

/*Стили для видео*/
.about__video img {
  max-width: 650px;
  height: 513px;
}

/*Стили для блока why*/
.why {
  background: url("../img/whybg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 880px;
  margin-bottom: 150px;
}

.why__title {
  font-size: 48px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 100px;
}

.why__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.why__item {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
}

.why__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.why__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*genres*/
.genres {
  background: url("../img/svg/line.svg") no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 651px;
  margin-bottom: 100px;
}

.genres__title {
  font-size: 46px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 100px;
}

.card__title {
  font-size: 46px;
  text-align: center;
  color: #000;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}

.genres__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Card*/
.card__img img {
  width: 100%;
  max-height: 100%;
  display: block;
  padding: 40px;
}

/*all*/
.all__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all__text {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-right: 100px;
}

/*Footer*/
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram,
.vk,
.yotube {
  margin: 40px;
}

/*menu*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu__item {
  font-size: 36px;
  color: #000;
  margin: 20px;
}

.menu__item:hover {
  text-decoration: underline;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*burger*/
.burger span {
  width: 50px;
  height: 50px;
  background-color: red;
}

/*Адаптация*/
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    max-width: 1024px;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 976px;
  }
}

@media screen and (max-width: 976px) {
  .container {
    max-width: 667px;
  }
}

@media screen and (max-width: 667px) {
  .container {
    max-width: 467px;
  }
}

@media screen and (max-width: 467px) {
  .container {
    max-width: none;
    margin: 0 auto;
  }
}
