/*Подключение документа с обнуляющими стилями*/
@import url('../scss/reset.css');
/* подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=ZCOOL+KuaiLe&display=swap');

// /*Глобальные переменые для стилей*/
$max-width:1920px;
// /*Глобальные отступы*/
// /*Цвет для основной страницы*/
$background-color:#000;
// /*Цвет для основного цвета*/
$maincolor:#fff;
// /*Основной шрифт для сайта*/
$main_font-family: 'Montserrat',
sans-serif;
// /*Вторичный шрифт для сайта*/
$second_font-family:'ZCOOL KuaiLe',
cursive;
// /*Основной размер текста на сайте*/
$main_font-size: 24px;
// /*Основные межстрочнные отступы на сайте*/
$main_line-height: 1;

/*Модификаторы повторяющихся стилей*/
/*Стили для заголовков*/
.title {
    font-size: 64px;
    font-weight: 600;
    color: #B5B5B5;
    font-family: $main_font-family;
}

/*Стили для текста*/
.text {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1;
    font-family: $main_font-family;
}


/*Стили для body*/
body {
    width: 100%;
    height: 100%;
    font-size: $main_font-size;
    line-height: $main_line-height;
    background-color: $background-color;
    color: $maincolor;
    font-family: $main_font-family;
}

/**/
/*Обертка сайта*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

/*Ограничивающий контейнер*/
.container {
    max-width: $max-width;
    margin: 0 auto;
}

/*Header*/
header {
    display: flex;
    max-width: 100%;
    min-width: 100%;
    justify-content: space-between;
    background-color: #fff;

}

.header__body {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*navigation*/
.menu__item {
    font-size: 30px;
    font-family: $main_font-family;
    margin: 0 20px;
    color: #000;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__item:hover {
    text-decoration: underline;
    transition: all 0.8s ease;
}

/*login__register*/
.login,
.register {
    font-family: $main_font-family;
    font-weight: 100;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bold;
}

.active {
    background-color: #00B2FF;
    padding: 20px;
}

.search {
    margin: 0 60px;
    cursor: pointer;
}



.header__body {
    display: flex;
    justify-content: center;
}

/*burger menu*/
.burger {
    cursor: pointer;
}

span {
    font-size: 20px;
    color: #000;
    display: block;
    max-width: 350px;
    height: 20px;
    margin-left: 20px;
}

/**/
/*Main*/

main {
    flex: 1 1 auto;


}

/*Главный жкран*/
.full__screan {
    background: url("../img/mainbg.png") center no-repeat;
    background-size: cover;
    width: 1920px;
    height: 751px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 150px;

}

.arrow {
    position: absolute;
    bottom: 0;
    left: 48%;
    margin-bottom: 40px;
}

/*main card*/
.card {
    background-color: #FFFFFF;
    padding: 25px;
    opacity: 76%;
    max-width: 634px;
    height: 300px;
    margin-right: 60px;


}

.card__title {
    font-weight: 900;
    font-size: 36px;
    color: #000;
    margin-bottom: 15px;
}

.card__text {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-family: $main_font-family;
}

/*news*/
.news {
    margin-bottom: 200px;
}

/*news title*/
.news__title {
    text-align: center;
    margin-bottom: 100px;
}


/*news card*/
.news__top,
.news__bottom {
    display: flex;
    justify-content: space-between;
}

.body__img img {
    display: block;
    max-width: 450px;
    height: auto;
}

.news__card {
    max-width: 400px;
}

.news__body {
    align-items: center;
    text-align: center;

}

.body__text {
    margin: 40px 0;
}

/*voting*/
.voting {
    margin-bottom: 150px;
}

.voting__title {
    text-align: center;
    margin-bottom: 50px;
}

.voting__body {
    display: flex;
    justify-content: space-between;
}



.voting__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Подсчет процентов*/
.voting__precent {
    font-family: $main_font-family;
    font-weight: 900;
    font-size: 64px;
    margin: 40px 0;
}

.stalker {
    color: #F5FFB8;
}

.left__dead {
    color: #FFCACA;
}

.voting__btn {
    padding: 20px;
    max-width: 100px;
    min-width: 100px;

}

.voting__btn span {
    align-items: center;
    text-align: center;
}





/*game__ul*/
.game__ul {
    margin-bottom: 200px;
}

.game {
    margin-bottom: 250px;
}

.game__title {
    text-align: center;
    margin-bottom: 50px;
}

.game__list {
    margin-left: 150px;
}

.list__item {
    margin: 20px 0;
    list-style: disc;
}

/*article*/
.article {
    margin-bottom: 100px;
}

.article__title {
    text-align: center;
}



/*play*/
.play__body {
    align-items: center;
    text-align: center;
}

.play__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play__top,
.play__bottom {
    display: flex;
    justify-content: space-between;

}

.play__img img {
    align-items: center;
    display: block;
    width: 750px;
    height: auto;

}

.play__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
    padding: 20px;
}

.play__card {
    padding: 20px;
}

.play__title {
    font-family: $main_font-family;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;

}

/*Footer*/
.footer {
    background-color: #222222;
    padding: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.footer__social {
    display: flex;
}

.social__circle {
    cursor: pointer;
    margin: 0 40px;
    padding: 25px;
    background-color: #A42F28;
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
}

.footer__moon {
    position: absolute;
    top: 0;
    left: 0;
}

/*Адаптация*/
// 
@media screen and (max-width:1920px) {
    .container {
        max-width: 1600px;
    }


}

@media screen and (max-width:1600px) {
    .container {
        max-width: 1024px;
    }



}

// 
@media screen and (max-width:1024px) {
    .container {
        max-width: 976px;
    }
}

// 
@media screen and (max-width:976px) {
    .container {
        max-width: 667px;
    }
}

// 
@media screen and (max-width:667px) {
    .container {
        max-width: 467px;
    }
}

@media screen and (max-width:467px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }
}


// Прочие